Source/** text eol=crlf
Documents/** text eol=crlf
Documents/RecotteProjects/**/*.ccproj text eol=crlf
*.md text eol=crlf
*.sln text eol=crlf
.editorconfig text eol=crlf
.gitattributes text eol=crlf
*.wav binary
*.png binary
*.ico binary
*.mp4 binary
